{
    "env": {
        "node": true,
        "es6": true,
        "chai": true
    },
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "no-var": 2
    }
}